body, html {
	height: 100%;
}
.content{
	padding-top: 2cm;
	padding-bottom: 2cm;
}
.content-statistics{
	padding-top: 6cm;
	padding-bottom: 5cm;
}
.btn{
	padding-top: 1cm;
	padding-bottom: 1cm;
	font-size: xx-large;
}
.imag{
	background-image: url('home.jpg'); 
}
.container {
    padding: 2rem 0rem;
  }