{% extends 'layout.html' %}

{% block styles %}
    <link href="{{ url_for('.static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='register.css') }}">

{% endblock %}

{% block content %}
<legend class="border-bottom mb-4" style="text-align: center;">Statistics</legend>

<table style="margin-left: 10%; width: 80%;"> 
    <tr>
        <th style="padding-left: 20px; text-align: center;">Product Name</th>
        <th style="padding-left: 20px; text-align: center;">Date</th>
        <th style="padding-left: 20px; text-align: center;">Passed</th>
        <th style="padding-left: 20px; text-align: center;">Failed</th>
    </tr>
    {% for item in data %}
        <tr>
            <td style="text-align: center;">{{item[0]}}</td>
            <td style="text-align: center;">{{item[1]}}</td>
            <td style="text-align: center;">{{item[2]}}</td>
            <td style="text-align: center;">{{item[3]}}</td>            
        </tr>
    {% endfor %}
</table><div class="list-group" id="top">
    <a class="list-group-item list-group-item-action" href="/statistics"><b><-</b>Back</a>
</div>
    
{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('.static', filename='jquery/jquery.slim.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('.static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->
{% endblock %}

